body {
    background-color: #F28487;
}

.navbar-size {
    width: 95%;
    margin: 0 auto;
}

.user-image-size {
    height: 56px;
    margin: 4px 0;
}

.main-body {
    background-color: #F28487;
    color: white;
    min-height: calc(100vh - 64px);
    padding: 20px 0;
    margin-top: 0;
}

.materialboxed-image {
    margin: 0 auto;
    height: 400px;
    max-width: 100%;
}

.click-me-button {
    background-color: rgba(255, 255, 255, 0.2) !important;
    margin-top: 50px;
    border: 2px solid white;
}

.click-me-button:hover {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

h1#heading {
    font-size: 3.5rem;
    margin: 2rem 0;
}

.flow-text {
    font-size: 1.5rem;
    max-width: 800px;
    margin: 0 auto 2rem auto;
}